{% extends 'base.html' %}
{% load placeholders %}
{% block content %}
    <form method="post" action="{% url 'change-password' %}">
        <h3>Change Password</h3>

        {% csrf_token %}
        {{ form.as_p }}

        <div id="toggleButtonForPasswordLoginPage">

            <button type="button" id="toggle-show" onclick="togglePass()">
                <i class="fa-solid fa-eye-slash"></i>
            </button>

            <button type="button" id="toggle-hide" onclick="togglePass()">
                <i class="fa-solid fa-eye"></i>
            </button>

        </div>

        <button class="button-login" type="submit">Save</button>
        <button class="button-login" type="button">
            <a style="text-decoration: none" href="{% url 'index' %}">Back</a>
        </button>
    </form>

    <script>
        function togglePass() {
            const toggleShowElement = document.getElementById('toggle-show');
            const toggleHideElement = document.getElementById('toggle-hide');
            const x = document.getElementById("id_old_password");
            const y = document.getElementById("id_new_password1");
            const z = document.getElementById("id_new_password2");

            if (x.type === "password") {
                x.type = "text";
                toggleShowElement.style.display = 'none'
                toggleHideElement.style.display = 'block'
            } else {
                x.type = "password";
                toggleShowElement.style.display = 'block'
                toggleHideElement.style.display = 'none'
            }

            if (y.type === "password") {
                y.type = "text";
                toggleShowElement.style.display = 'none'
                toggleHideElement.style.display = 'block'
            } else {
                y.type = "password";
                toggleShowElement.style.display = 'block'
                toggleHideElement.style.display = 'none'
            }

            if (z.type === "password") {
                z.type = "text";
                toggleShowElement.style.display = 'none'
                toggleHideElement.style.display = 'block'
            } else {
                z.type = "password";
                toggleShowElement.style.display = 'block'
                toggleHideElement.style.display = 'none'
            }
        }
    </script>

{% endblock %}
