{% extends 'base.html' %}
{% load placeholders %}
{% block content %}

    <form action="{% url 'login' %}" method="post">
        <input type="hidden" name="next" value="{{ next }}">

        {{ form.as_p }}
        <div id="toggleButtonForPasswordLoginPage">

            <button type="button" id="toggle-show" onclick="togglePass()">
                <i class="fa-solid fa-eye-slash"></i>
            </button>

            <button type="button" id="toggle-hide" onclick="togglePass()">
                <i class="fa-solid fa-eye"></i>
            </button>

        </div>

        {% csrf_token %}
        <button class="button-login" type="submit">Log in</button>
    </form>

    <div class="second-option">
        <h4>Don't have account? <a href="{% url 'register' %}">Register</a></h4>
    </div>

    <script>
        function togglePass() {
            const toggleShowElement = document.getElementById('toggle-show');
            const toggleHideElement = document.getElementById('toggle-hide');
            const x = document.getElementById("id_password");

            if (x.type === "password") {
                x.type = "text";
                toggleShowElement.style.display = 'none'
                toggleHideElement.style.display = 'block'
            } else {
                x.type = "password";
                toggleShowElement.style.display = 'block'
                toggleHideElement.style.display = 'none'
            }
        }
    </script>

{% endblock %}
