<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
</head>
<body>
<h1>Profile LogIn Page</h1>
<main>

    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <form action="{% url 'login' %}" method="post">
                <input type="hidden" name="next" value="{{ next }}">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit">Log in</button>
            </form>

        </div>
        <div class="second-option">
            <p>Don't have account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </div>
</main>

</body>
</html>