{% extends 'base.html' %}
{% block content %}

    <div class="delete-profile">
        <div class="sure-buttons">
            <form action="{% url 'profile delete' pk=object.pk %}" method="post">
                <h2>
                    Are you sure you want to delete profile?
                </h2>
                {% csrf_token %}
                <button class="button-edit-profile" style="color: #dedada;font-size: 14px;width: 80px">Yes
                    <i style="color: #dedada"
                       class="fa-solid fa-trash-can"></i></button>

                <a class="button-edit-profile" style="color: #dedada;width: 105px;font-size: 14px"
                   href="{% url 'profile details' pk=object.pk %}">Back to Profile</a>
            </form>
        </div>
    </div>

{% endblock %}
