{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="profile-container">
        <h1>User Equipment:</h1>
        {% if request.user.equipment %}
            <div class="equipment-wrapper">
                <div class="equipment">

                    <div class="equipment-containers">

                        <div>
                            {% if request.user.equipment.gun_image %}
                                <img src="{{ request.user.equipment.gun_image }}" alt="gun img">
                            {% else %}
                                <img src="{% static 'images/no-image-available.jpg' %}" alt="gun img">
                            {% endif %}
                        </div>

                        <h4>Gun Brand: {{ request.user.equipment.gun_model }}</h4>
                        <h4>Gun Material: {{ request.user.equipment.gun_material }}</h4>
                        <h4>Gun Length: {{ request.user.equipment.gun_length }}</h4>


                    </div>

                    <div class="equipment-containers">
                        <div>
                            {% if request.user.equipment.bands_image %}
                                <img src="{{ request.user.equipment.bands_image }}" alt="bands img">
                            {% else %}
                                <img src="{% static 'images/no-image-available.jpg' %}" alt="gun img">
                            {% endif %}
                        </div>

                        <h4>Gun Bands: {{ request.user.equipment.bands }}</h4>
                        <h4>Gun Bands brand: {{ request.user.equipment.bands_brand }}</h4>


                    </div>


                    <div class="equipment-containers">
                        <div>
                            {% if request.user.equipment.fins_image %}
                                <img src="{{ request.user.equipment.fins_image }}" alt="fins img">
                            {% else %}
                                <img src="{% static 'images/no-image-available.jpg' %}" alt="gun img">
                            {% endif %}
                        </div>
                        <h4>Fins brand: {{ request.user.equipment.fins_model }}</h4>
                        <h4>Fins Material: {{ request.user.equipment.fins_material }}</h4>
                    </div>



                    {% if request.user.equipment.additional_info %}
                        <div class="equipment-containers">
                            <h4>Additional information:

                                <p>
                                    {{ request.user.equipment.additional_info }}
                                </p>
                            </h4>
                        </div>
                    {% endif %}

                </div>
            </div>
        {% else %}
            <h1>No equipment added yet!</h1>
        {% endif %}

        <div class="profile-details-wrapper">
            <h2>Profile Details:</h2>

            {% if object.profile_image_url %}
                <div>

                    <img class="profile-image" src="{{ object.profile_image_url }}" alt="profile picture">
                </div>
            {% else %}
                <div>
                    <img class="profile-image"
                         src="{% static 'images/blank-avatar-profile-picture-vector-45161169.jpg' %}"
                         alt="profile picture">
                </div>
            {% endif %}

            {% if object.get_full_name %}
                <h2>Full Name: {{ object.get_full_name }}</h2>
                <h2>Username: {{ object.username }}</h2>
            {% else %}
                <h1>Username: {{ object.username }}, pk= {{ request.user.pk }}</h1>

            {% endif %}
            <h4>Email: {{ object.email }}</h4>
            {% if object.gender %}
                <h4>Gender: {{ object.gender }}</h4>
            {% endif %}
        </div>

        <br>


        <div class="photo-wrapper">

            <ul>
                {% if photos %}
                    {% for photo in photos %}

                        <li class="users-photos"><img src="{{ photo.photo.url }}" alt="img">
                            <div>
                                <h3>Location: {{ photo.location }}</h3>

                                <h3>Description:

                                    <p>
                                        {{ photo.description }}
                                    </p>

                                </h3>
                            </div>
                            <div class="icons-wrapper">
                                <div>
                                    {% if not photo.like_set.all.count %}

                                        <a href="{% url 'like' photo.id %}">
                                            <i class="fa-solid fa-heart" style="color: #fdfdfd;"></i>
                                        </a>


                                    {% else %}

                                        <a href="{% url 'like' photo.id %}">
                                            <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
                                        </a>

                                    {% endif %}
                                    <h4>likes: {{ photo.like_set.all.count }}</h4>

                                </div>

                                <div class="profile-icon-2">

                                    <a href="{% url 'photo-details' photo.pk %}">
                                        <i class="fa-solid fa-circle-info fa-fade fa-xl"
                                           style="color: #09f809;"></i>
                                    </a>

                                    {% if is_owner %}
                                        <a href="{% url 'delete-photo' photo.pk %}"><i
                                                class="fa-solid fa-trash-can-arrow-up fa-bounce fa-xl"
                                                style="color: #770272;"></i></a>
                                    {% endif %}

                                </div>
                            </div>
                        </li>

                    {% endfor %}
                {% else %}
                    <img src="{% static 'images/NoPhotoAvailable.png' %}" alt="gun img">
                {% endif %}
            </ul>
        </div>

        <br>

        <p>
            {% if is_owner %}
                <a class="button-edit-profile" href="{% url 'profile edit' pk=object.pk %}"> Edit profile <i
                        class="fa-regular fa-user fa-bounce" style="color: #00f010;"></i></a>
                <a class="button-edit-profile" href="{% url 'add-photo' %}"> Add new photo <i
                        class="fa-regular fa-image fa-flip" style="color: #02dac8;"></i></a>
                <a class="button-edit-profile" href="{% url 'profile delete' pk=object.pk %}"> Delete profile <i
                        class="fa-solid fa-trash fa-fade" style="color: #ff0000;"></i></a>
            {% endif %}
        </p>

        {# PAGINATOR #}
        <div class="pagination">
                <span class="step-links">


                    {% if photos.has_previous %}
                        <a style="color: blue;font-size: 26px" href="?page=1">&laquo; FIRST</a>
                        <a style="color: red;font-size: 26px; font-weight: bold"
                           href="?page={{ photos.previous_page_number }}">PREVIOUS</a>
                    {% endif %}
                    <span style="font-size: 30px"
                          class="current">Page {{ photos.number }} of {{ photos.paginator.num_pages }}.</span>
                    {% if photos.has_next %}
                        <a style="color: red;font-size: 26px; font-weight: bold"
                           href="?page={{ photos.next_page_number }}">NEXT</a>
                        <a style="color: blue;font-size: 26px" href="?page={{ photos.paginator.num_pages }}">LAST &raquo;</a>
                    {% endif %}
                </span>
        </div>
        {# END PAGINATOR #}
    </div>




{% endblock %}
