{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="profile-container">

        {% if request.user.equipment %}
            <div class="equipment">
                <h2>User Equipment:</h2>
                <h1>Gun's details:</h1>
                <h2>Gun Brand: {{ request.user.equipment.gun_model }}</h2>
                <h2>Gun Material: {{ request.user.equipment.gun_material }}</h2>
                <h2>Gun Length: {{ request.user.equipment.gun_length }}</h2>
                <img src="{{ request.user.equipment.gun_image }}" alt="gun img">
                <br>
                <hr>
                <h1>Band's details:</h1>
                <h2>Gun Bands: {{ request.user.equipment.bands }}</h2>
                <h2>Gun Bands brand: {{ request.user.equipment.bands_brand }}</h2>
                <img src="{{ request.user.equipment.bands_image }}" alt="bands img">
                <br>
                <hr>
                <h2>Fins brand: {{ request.user.equipment.fins_model }}</h2>
                <h2>Fins Material: {{ request.user.equipment.fins_material }}</h2>
                <img src="{{ request.user.equipment.fins_image }}" alt="fins img">
                <br>
                {% if request.user.equipment.additional_info %}
                    <h2>Additional information:
                        {{ request.user.equipment.additional_info }}
                    </h2>
                {% endif %}
            </div>
        {% else %}
            <h1>No equipment added yet!</h1>
        {% endif %}

        <div class="profile-details-wrapper">
            <h2>Profile Details:</h2>
            {% if object.get_full_name %}
                <h1>Full Name: {{ object.get_full_name }}, pk= {{ request.user.pk }}</h1>
            {% else %}
                <h1>Username: {{ object.username }}, pk= {{ request.user.pk }}</h1>

            {% endif %}
            <h4>Email: {{ object.email }}</h4>
            {% if object.gender %}
                <h4>Gender: {{ object.gender }}</h4>
            {% endif %}
        </div>

        <br>
        <hr>

        <div class="photo-wrapper">

            <ul>
                {% if photos %}
                    {% for photo in photos %}

                        <li class="users-photos"><img src="{{ photo.photo.url }}" alt="">

                            <div class="icons-wrapper">
                                <div>
                                        <h4>likes: {{ photo.like_set.all.count }}</h4>
                                    {% if not photo.like_set.all.count %}

                                        <a href="{% url 'like' photo.id %}">
                                            <i class="fa-solid fa-heart" style="color: #fdfdfd;"></i>
                                        </a>

                                    {% else %}

                                        <a href="{% url 'like' photo.id %}">
                                            <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
                                        </a>

                                    {% endif %}

                                    <i class="fa-solid fa-square-share-nodes "></i>
                                </div>

                                <div>
                                    {% if is_owner %}
                                        <a href="{% url 'delete-photo' photo.pk %}"><i
                                                class="fa-solid fa-trash-can-arrow-up"
                                                style="color: #960202;"></i></a>
                                    {% endif %}
                                </div>
                            </div>


                        </li>

                    {% endfor %}

                {% endif %}
            </ul>
        </div>

        <br>
        <hr>
        <p>
            {% if is_owner %}
                <a class="button-edit-profile" href="{% url 'profile edit' pk=object.pk %}"> Edit profile <i
                        class="fa-regular fa-user fa-bounce" style="color: #00f010;"></i></a>
                <a class="button-edit-profile" href="{% url 'add-photo' %}"> Add new photo <i
                        class="fa-regular fa-image fa-flip" style="color: #02dac8;"></i></a>
                <a class="button-edit-profile" href="{% url 'profile delete' pk=object.pk %}"> Delete profile <i
                        class="fa-solid fa-trash fa-fade" style="color: #ff0000;"></i></a>
            {% endif %}
        </p>

        {# PAGINATOR #}
        <div class="pagination">
                <span class="step-links">


                    {% if photos.has_previous %}
                        <a style="color: blue;font-size: 26px" href="?page=1">&laquo; FIRST</a>
                        <a style="color: red;font-size: 26px; font-weight: bold"
                           href="?page={{ photos.previous_page_number }}">PREVIOUS</a>
                    {% endif %}
                    <span style="font-size: 30px"
                          class="current">Page {{ photos.number }} of {{ photos.paginator.num_pages }}.</span>
                    {% if photos.has_next %}
                        <a style="color: red;font-size: 26px; font-weight: bold"
                           href="?page={{ photos.next_page_number }}">NEXT</a>
                        <a style="color: blue;font-size: 26px" href="?page={{ photos.paginator.num_pages }}">LAST &raquo;</a>
                    {% endif %}
                </span>
        </div>
        {# END PAGINATOR #}
    </div>




{% endblock %}
