{% extends 'base.html' %}
{% block content %}
    <main>

        <div class="edit-delete">
            <form action="{% url 'profile edit' pk=object.pk %}" method="post">
                <h2>Edit Profile</h2>
                <br>
                {% csrf_token %}

                {% for field in form %}
                    <p class="error"> {{ field.errors }} </p>
                    <div class="label-input">
                        <label>{{ field.label }}</label>
                        {% if not field.label == "Gender:" %}
                            {{ field }} {% else %}
                            <div class="list-choice">
                                <div class="list-choice-title">Gender</div>
                                <div class="list-choice-objects">
                                    {% for type, value in form.fields.gender.choices %}
                                        <label>
                                            <input type="radio" value="{{ value }}" name="gender"
                                                    {% if form.gender.value == value %} checked {% endif %}/>
                                            <span>{{ value }}</span>
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <br>
                {% endfor %}
                <div>
                    <button class="button-edit-profile" type="submit">Edit profile</button>
                </div>
                <a class="button-edit-profile" style="color: #dedada;font-size: 13px"
                   href="{% url 'profile details' pk=object.pk %}">Back to Profile</a>
            </form>
        </div>

    </main>

{% endblock %}