{% extends 'base.html' %}
{% block content %}

    <div class="login-register-div">

        <div class="login-register-box">


            <form style="text-align: center;" action="{% url 'register' %}" method="post">
                <h2>Welcome to Spearfishing4Life</h2>
                <input type="hidden" name="next" value="{{ next }}">

                {{ form.as_p }}
                {% csrf_token %}

                <div id="toggleButtonForPasswordLoginPage">
                    <button type="button" id="toggle-show" onclick="togglePass()">
                        <i class="fa-solid fa-eye-slash"></i>
                    </button>

                    <button type="button" id="toggle-hide" onclick="togglePass()">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>

                <div>
                    <button class="button-edit-profile" type="submit">Register</button>
                </div>
            </form>
        </div>
        <div class="second-option">
            <p>Have an account? <a href="{% url 'login' %}">Log in</a></p>
        </div>
    </div>

    <script>
        function togglePass() {
            const toggleShowElement = document.getElementById('toggle-show');
            const toggleHideElement = document.getElementById('toggle-hide');
            const pass1 = document.getElementById("id_password1");
            const pass2 = document.getElementById("id_password2");

            if (pass1.type === "password") {
                pass1.type = "text";
                toggleShowElement.style.display = 'none'
                toggleHideElement.style.display = 'block'
            } else {
                pass1.type = "password";
                toggleShowElement.style.display = 'block'
                toggleHideElement.style.display = 'none'
            }

            if (pass2.type === "password") {
                pass2.type = "text";
                toggleShowElement.style.display = 'none'
                toggleHideElement.style.display = 'block'
            } else {
                pass2.type = "password";
                toggleShowElement.style.display = 'block'
                toggleHideElement.style.display = 'none'
            }
        }
    </script>

{% endblock %}
