{% extends 'base.html' %}
{% block content %}

    <div class="login-register-div">
        <div class="login-register-box">


            <form style="text-align: center" action="{% url 'register' %}" method="post">
                <h2>Welcome to Spearfishing4Life</h2>
                <input type="hidden" name="next" value="{{ next }}">

                {{ form.as_p }}
                {% csrf_token %}

                <div>
                    <button class="button-edit-profile" type="submit">Register</button>
                </div>
            </form>

        </div>
        <div class="second-option">
            <p>Have an account? <a href="{% url 'login' %}">Log in</a></p>
        </div>
    </div>

{% endblock %}
