{% extends 'base.html' %}
{% block content %}
    <form action="{% url 'edit-equipment' pk=request.user.equipment.pk %}" method="post">

        {% csrf_token %}
        {{ form.as_p }}

        <button class="button-edit-profile" type="submit">Save</button>

        <button class="button-edit-profile" type="button"><a
                style="text-decoration: none;font-size: 14px;color: #dedcdc"
                href="{% url 'profile details' request.user.pk %}">Back</a>
        </button>
    </form>

{% endblock %}
