{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h2 class="history-h1">History of Spearfishing</h2>
    <div class="about-history">
        <article class="bg-about">
            <p>
                History of Spearfishing - Origin and Background of
                Spearfishing is method of fishing with a spear and is one of the oldest ways that humanity used to catch
                fish. Early civilizations used sharpened sticks for spearfishing and these were one of the first spears.

                Many ancient civilizations used spears for fishing. During the Paleolithic times they used barbed poles
                (harpoons). Famous Cosquer cave in Southern France, that has art that is preserved for 16,000 years, has
                images of seals that look like they have been harpooned. Paintings on the wall of the tomb of Ushered in
                Thebes represent fisherman with a spear that is throwing the spear into the water from his boat. Bible
                mentions fishing spears in Job 41:7 where it talks about Leviathan. According to the Greek historian
                Polybius that lived between 203 BC and 120 BC, spears were used for catching swordfish which he talks
                about
                in his “Histories”. These spears were barbed and had detachable heads. Earliest text that survived to
                this
                day and which talks about various means of fishing in its entirety is “Halieutika” written by Greek
                author
                Oppian of Corycus. He describes their standard spears with one point and tridents. Peoples that lived on
                India's Andaman and Nicobar islands used spears that had long cords and could be retrieved when thrown
                without the need for a fisherman to move.
            </p>

            <img src="{% static 'images/history-of-spearfishing.jpg' %}" alt="history of spearf img">
        </article>

        <article>

            <br>
            <p>
                From the simple spears (pointed sticks, sticks with barbed metal points and tridents), developed
                different types of spears. “Gigs” are one of these and they are multi-pronged spears. They are used for
                fish but also for frogs. Before modern spears appeared, people spearfished in shallow waters. Invention
                of speargun allowed fishing in deeper waters. Spearguns can be powered with elastic cords or compressed
                gas and spearfishing with spearguns can be done while free-diving, snorkeling, or scuba diving. Some
                countries don’t allow spearfishing while using scuba equipment while other don’t allow use of
                mechanically powered spearguns at all.

                After the improvement of diving gear and spears themselves in the first half of 20th century, different
                types of spearfishing developed from there. The most common way of spearfishing today is “shore diving”
                where divers enter the sea from a beach and hunt around ocean structures. To catch a fish, divers use
                Hawaiian slings or spearguns and catch reef fish. “Boat diving” is similar to shore diving but boats are
                used to access locations that are inaccessible by land like, oil rigs, Fish Aggregating Devices and
                reefs that are further from the shore. “Blue water hunting” is diving and spearfishing in open waters of
                seas and oceans. Fish is usually baited (chummed) with fish parts and blood and then hunted. Divers
                usually hunt marlin, tuna, and giant trevally. To catch fish with a spear it is not necessary to dive.
                Fish can be spearfished from land, shallow water or a boat like it was done for thousands of years.
            </p>

            <p>
                In the depths of the ocean, where the sun's rays only shimmer through the turquoise waters, lies a
                history as ancient as the tides themselves. It is the history of spearfishing, a practice that blends
                skill, precision, and an intimate connection with the sea.

                Long before modern fishing techniques emerged, spearfishing was the art of survival for coastal
                communities around the world. From the Pacific islands to the Mediterranean shores, fishermen ventured
                into the unknown armed with nothing but their handmade spears and an unwavering spirit.

                Across time, ingenious adaptations took place. Ancient civilizations crafted bone and shell-tipped
                spears, using their knowledge of the sea's inhabitants to their advantage. As societies evolved, so did
                their techniques. The Polynesians pioneered the use of fishhooks, enabling them to catch larger prey and
                venture into deeper waters.

                Over the centuries, spearfishing transformed from a means of sustenance to a celebrated sport. Diving
                enthusiasts explored the underwater realm with harpoons in hand, driven by a deep-seated passion for the
                ocean's wonders. Freedivers pushed the boundaries of human capability, plunging into the depths on a
                single breath, their eyes locked on the target.

                Today, spearfishing stands as a testament to humanity's enduring connection with the sea. With
                advancements in technology, modern spearfishers employ carbon fiber spears, advanced wetsuits, and
                mask-mounted cameras to capture their encounters beneath the waves.

                But amidst the progress, the primal allure remains. The rush of the hunt, the silence of the depths, and
                the unspoken communion with nature continue to fuel the souls of spearfishers. It is a timeless pursuit
                that teaches patience, respect, and humility—an art form that embraces both the history of our ancestors
                and the boundless possibilities of the future.

                So let us honor the spearfishers who came before us, those who dove into the unknown, driven by a love
                for the sea. Their legacy lives on, echoing through the generations, as we continue to explore, protect,
                and cherish the depths that have captivated us since time immemorial.
            </p>
        </article>


    </div>
    <h2 style="text-decoration: underline">Guidelines For Safe Freediving!</h2>
    <div class="about-history2">

        <p><span class="history-span1">1. Recognize that freedive hunting is a solo activity</span> – This means that it
            is unlikely that help will be
            there for many threats to your safety. The use of whistles, agreed upon call signals, or even sticking
            close the boat may give you peace of mind, but let’s face it, in a real emergency, you could be long
            dead before your fellow divers will even know that there is trouble. You are solely responsible for your
            own well being.</p>

        <p><span class="history-span1">2. Recognize that underwater blackout can come on quickly and with few warning signs</span>
            – Don’t assume that
            you can avoid blackout by changing the dive profile mid dive. I have kidded myself thinking that I could
            avoid blackout by simply lightening up my level of exertion if I started to get a bit dizzy. However,
            loss of consciousness can occur so quickly, there may be no time to react to its onset.</p>

        <p><span class="history-span1">3. Don’t “pump up” before a dive</span> – Hyperventilation prior to the dive will
            suppress your bodies feedback
            system that tells you it is time to come up for air.</p>

        <p><span class="history-span1">4. Recognize that diving when you are fatigued will lower your bodies ability to handle stress</span>
            – A given
            dive on day 4 of a trip will be more difficult for your body to handle than it was on day 2.</p>

        <p><span class="history-span1">5. If a fish has holed up with your spear, get some help or use a spotter before attempting to retrieve it</span>
            – Recognize that high effort dives such as this are not part of your normal dive profile. This rule is
            especially important to follow since most fish always seem to hole up just at or below your maximum
            diving depth.</p>

        <p><span class="history-span1">6. If you are practiced enough to manage depths of 40 feet or more</span>, you
            must acknowledge that extra time is
            required to get back to the surface. This extra time must be factored into your decision on when to end
            the dive.</p>

        <p><span class="history-span1">7. No fish is worth dying for</span></p>

        <p><span class="history-span1">8. Finally, realize that errant diving decisions on your part will affect many others besides you</span>
            – A
            diving accident will not only have a devastating emotional affect on your friends and family, you might
            also inadvertently create a legal nightmare for those who have helped facilitate your dive trip.</p>
        <br>


        <p><span class="history-span1">- Overweighing </span>– Diving heavy makes it that much more difficult to get to
            the surface if you have a problem,
            and makes it harder for your buddies to get to you.</p>

        <p><span class="history-span1">- Always get help if a fish “holes up” </span>– The exertion and adrenaline are
            priming you for SWB. No fish is
            worth
            dying for but this is probably the #1 cause of deaths in this sport.</p>

        <p><span class="history-span1">- Don’t pool train without a spotter</span> – If you do “static” (no exertion)
            apnea training, have a clear system
            by
            which your buddy knows if you’re OK. Have them tap you on the shoulder every 15 seconds and move a finger
            back and forth as a signal that you’re “OK”. This is the number two way people get killed.</p>

        <p><span class="history-span1">- Always dive with a flag </span>– Even then keep an eye out for boaters. There
            are a lot of idiots out there.</p>

        <p><span class="history-span1">- If you have to use a reel be very careful</span> – Stick to the floatline/float
            setup whenever possible.</p>

        <p><span class="history-span1">- Don’t go if conditions look marginal </span>– Too many people drown every year
            on the North Coast when the
            weather
            turns just a little worse. Go have a nice breakfast instead.</p>


    </div>
    <h2 style="text-decoration: underline">Shallow Water Blackout!</h2>
    <div>
        <img style="width: 35vw" src="{% static 'images/swblackoutdiagram2.png' %}" alt="">
    </div>
    <div class="about-history2">

        <p>For more information, please visit:
            <a href="https://shallowwaterblackoutprevention.org/" target="_blank">https://shallowwaterblackoutprevention.org/</a>
        </p>

        <p>
            The following is information regarding Shallow Water Blackout.
        </p>

        <p>
        <p><span class="history-span1">WHO: </span> It can affect anyone that is breath-holding, even the physically fit
            swimmer. It is especially seen in
            competitive swimmers, Navy, snorkelers, spear fishermen or anyone who free-dives. SWB cuts across the
            spectrum of freediver training affecting all levels. No one is protected from succumbing to SWB.
        </p>

        <p>
            <span class="history-span1">WHAT: </span> Shallow Water Blackout typically occurs because of false lower
            than normal carbon dioxide (CO2) and
            low oxygen (O2). Unconsciousness occurs when O2 levels in a swimmer are too low. What triggers us to breathe
            to get O2 is HIGH CO2 not low O2 as one might think.Hyperventilation done before breath-holding lowers the
            CO2 abnormally so one can hold their breath longer, however, one may experience Shallow Water Blackout even
            without hyperventilation before breath-holding. The primary cause of SWB is lack of O2 reaching the brain.
            The CO2 levels may be high as in extreme exertion/exhaustion or low as in hyperventilation. In each case SWB
            happens. However with low CO2 levels, our bodies are robbed of their built-in mechanism to protect us and
            tell us to breathe before unconsciousness happens. One basically “blacks out” in the water. For some, their
            lungs will take on water leading to drowning while others simply suffocate or die of other causes brought on
            by the breath-holding. Death can be a result of the prolonged breath-holding even if not from so called
            “Shallow Water Blackout.”
        </p>

        <p>
            <span class="history-span1">WHEN: </span> Frequently, Shallow Water Blackout occurs WITHOUT ANY WARNING of
            its onset. In fact, because of the
            hypoxia and detached mental state one can feel euphoric and empowered to continue breath-holding. Unlike
            regular drowning where there can be 6-8 minutes before brain damage and death, there is ONLY about 2 ½
            minutes before BRAIN DAMAGE then DEATH with SWB because the brain has already been oxygen deprived coupled
            with warm water as in swimming pools, hastening brain death.
        </p>

        <p>
            <span class="history-span1">WHERE: </span> Shallow Water Blackout can occur in any pool, bath, spa, lake,
            ocean or body of water when
            breath-holding, regardless of water depth. Even if lifeguards are on duty there is still a great risk
            because it is hard to detect from above the water.
        </p>

        <p>
            <span class="history-span1">WHY: </span> Shallow Water Blackout occurs because of the LACK OF EDUCATION,
            lack of ACTIVE SUPERVISION and
            understanding of the dangers of breath-holding. It also occurs because of the lack of safety training for
            swimmers, free divers, snorkelers, and spear fishermen. The breath-holders do not understand how to prevent
            Shallow Water Blackout or how to survive if it happens to them. Unfortunately, training does not inoculate
            one against SWB. All too often trained freedivers succumb.
        </p>


    </div>
    <h2 style="text-decoration: underline">Speargun Safety!</h2>
    <div>
        <img style="width: 30vw" src="{% static 'images/Load-Speargun-600.jpg' %}" alt="">
    </div>
    <h3>Spearguns are the furthest things from toys you can get.
        <br>
        Simple rules that will help keep you out of trouble:</h3>

    <div class="about-history2">
        <p><span class="history-span1">1. </span>Always treat the gun like it’s loaded. It’s a good way to build good.
            habits</p>

        <p><span class="history-span1">2. </span>Lock it up if you have kids!</p>

        <p><span class="history-span1">3. </span>Never point a speargun at anyone!</p>

        <p><span class="history-span1">4. </span>Never load a speargun out of the water. There are too many stories of
            of people who have had to patch holes in the bottom of their boat, or pry a shaft from a wall, piece of
            plywood etc…</p>

        <p><span class="history-span1">5. </span>Always unload a speargun before taking out of the water.</p>

        <p><span class="history-span1">6. </span>Keep the tip pointed away from your body parts.</p>

        <p><span class="history-span1">7. </span>Never ever fire a gun out of the water. The shaft will either break the
            line and go for several hundred yards, or hit the end of the line and head right back at you.</p>

        <p><span class="history-span1">8. </span>Put the safety “ON” before loading!</p>

        <p><span class="history-span1">9. </span>Check what’s behind what you are shooting at! That rock might cause the
            shaft to run the gun right back at you, or there may be somebody behind the fish!</p>

        <p><span class="history-span1">10. </span>Watch out for the recoil! A big or small gun will remove teeth, break
            masks and noses, and generally ruin your day if not properly braced when firing!</p>


    </div>
{% endblock %}