{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1 class="history-h1">History of Spearfishing</h1>
    <div class="about-history">
        <article class="bg-about">
            <img src="{% static 'images/history-of-spearfishing.jpg' %}" alt="history of spearf img">
        </article>

        <article>
            <p>
                History of Spearfishing - Origin and Background of Spearfishing
                Spearfishing is method of fishing with a spear and is one of the oldest ways that humanity used to catch
                fish. Early civilizations used sharpened sticks for spearfishing and these were one of the first spears.

                Many ancient civilizations used spears for fishing. During the Paleolithic times they used barbed poles
                (harpoons). Famous Cosquer cave in Southern France, that has art that is preserved for 16,000 years, has
                images of seals that look like they have been harpooned. Paintings on the wall of the tomb of Usheret in
                Thebes represent fisherman with a spear that is throwing the spear into the water from his boat. Bible
                mentions fishing spears in Job 41:7 where it talks about Leviathan. According to the Greek historian
                Polybius that lived between 203 BC and 120 BC, spears were used for catching swordfish which he talks
                about
                in his “Histories”. These spears were barbed and had detachable heads. Earliest text that survived to
                this
                day and which talks about various means of fishing in its entirety is “Halieutika” written by Greek
                author
                Oppian of Corycus. He describes their standard spears with one point and tridents. Peoples that lived on
                India's Andaman and Nicobar islands used spears that had long cords and could be retrieved when thrown
                without the need for a fisherman to move.
            </p>
            <br>
            <p>
                From the simple spears (pointed sticks, sticks with barbed metal points and tridents), developed
                different types of spears. “Gigs” are one of these and they are multi-pronged spears. They are used for
                fish but also for frogs. Before modern spears appeared, people spearfished in shallow waters. Invention
                of speargun allowed fishing in deeper waters. Spearguns can be powered with elastic cords or compressed
                gas and spearfishing with spearguns can be done while free-diving, snorkeling, or scuba diving. Some
                countries don’t allow spearfishing while using scuba equipment while other don’t allow use of
                mechanically powered spearguns at all.

                After the improvement of diving gear and spears themselves in the first half of 20th century, different
                types of spearfishing developed from there. The most common way of spearfishing today is “shore diving”
                where divers enter the sea from a beach and hunt around ocean structures. To catch a fish, divers use
                Hawaiian slings or spearguns and catch reef fish. “Boat diving” is similar to shore diving but boats are
                used to access locations that are inaccessible by land like, oil rigs, Fish Aggregating Devices and
                reefs that are further from the shore. “Blue water hunting” is diving and spearfishing in open waters of
                seas and oceans. Fish is usually baited (chummed) with fish parts and blood and then hunted. Divers
                usually hunt marlin, tuna, and giant trevally. To catch fish with a spear it is not necessary to dive.
                Fish can be spearfished from land, shallow water or a boat like it was done for thousands of years.
            </p>

            <p>
                In the depths of the ocean, where the sun's rays only shimmer through the turquoise waters, lies a
                history as ancient as the tides themselves. It is the history of spearfishing, a practice that blends
                skill, precision, and an intimate connection with the sea.

                Long before modern fishing techniques emerged, spearfishing was the art of survival for coastal
                communities around the world. From the Pacific islands to the Mediterranean shores, fishermen ventured
                into the unknown armed with nothing but their handmade spears and an unwavering spirit.

                Across time, ingenious adaptations took place. Ancient civilizations crafted bone and shell-tipped
                spears, using their knowledge of the sea's inhabitants to their advantage. As societies evolved, so did
                their techniques. The Polynesians pioneered the use of fishhooks, enabling them to catch larger prey and
                venture into deeper waters.

                Over the centuries, spearfishing transformed from a means of sustenance to a celebrated sport. Diving
                enthusiasts explored the underwater realm with harpoons in hand, driven by a deep-seated passion for the
                ocean's wonders. Freedivers pushed the boundaries of human capability, plunging into the depths on a
                single breath, their eyes locked on the target.

                Today, spearfishing stands as a testament to humanity's enduring connection with the sea. With
                advancements in technology, modern spearfishers employ carbon fiber spears, advanced wetsuits, and
                mask-mounted cameras to capture their encounters beneath the waves.

                But amidst the progress, the primal allure remains. The rush of the hunt, the silence of the depths, and
                the unspoken communion with nature continue to fuel the souls of spearfishers. It is a timeless pursuit
                that teaches patience, respect, and humility—an art form that embraces both the history of our ancestors
                and the boundless possibilities of the future.

                So let us honor the spearfishers who came before us, those who dove into the unknown, driven by a love
                for the sea. Their legacy lives on, echoing through the generations, as we continue to explore, protect,
                and cherish the depths that have captivated us since time immemorial.
            </p>
        </article>


    </div>

{% endblock %}