{% extends 'base.html' %}
{% load embed_video_tags %}
{% load static %}
{% block content %}

    <h2 style="text-decoration: underline;font-size: 30px">Apnea Trainer</h2>
    <div class="video-wrapper">
        {% video video4.url "500x400" %}
    </div>

    <div class="apnea-text-wrapper">
        <h4 style="text-align: center">
            The process during the first month of training (experienced freedivers can also try it) may look like this:
        </h4>
        <br>
        <h3>
            Step 1 - Determine your current best time
        </h3>
        <br>
        <p style="text-indent: 44px;">
            First, determine your maximum breath holding time at this moment (on land, out of water). We will find out
            what
            you are capable of right now to understand what you can expect from a month of training. Please download
            Apnea
            Trainer mobile app for <a style="font-weight: bold;color: blue;font-size: 19px" target="_blank"
                                      href="https://play.google.com/store/apps/details?id=com.brucemax.freediveapneatimer">Android</a>
            or <a style="font-weight: bold;color: blue;font-size: 19px" target="_blank"
                  href="https://apps.apple.com/au/app/freediving-apnea-trainer/id1216253186">iOS</a>
            if you haven’t done
            it yet.

        </p>
        <div class="apnea-img-container">
            <img src="{% static 'images/header-iphone.png' %}" alt="phone-img">
        </div>
        <br>

        <div class="p-text-1">
            <p><i class="fa-solid fa-circle-chevron-right fa-xs"></i> Take a comfortable position. Relax.</p>
            <p><i class="fa-solid fa-circle-chevron-right fa-xs"></i> Breathe calmly for 1-2 minutes, no faster than
                usual.</p>
            <p><i class="fa-solid fa-circle-chevron-right fa-xs"></i> In the “Best Time” section of the application,
                click 'Start' button, the countdown will begin. Take a
                deep
                breath, then exhale completely, then take a deep breath again as much as you can and hold your
                breath.</p>
            <p><i class="fa-solid fa-circle-chevron-right fa-xs"></i> Stay relaxed and try to defocus your mind.</p>
            <p><i class="fa-solid fa-circle-chevron-right fa-xs"></i> For experienced freedivers: you can click on the
                lungs icon when you star feeling contractions
                (uncontrolled diaphragm spasms).</p>
            <p><i class="fa-solid fa-circle-chevron-right fa-xs"></i> When you feel you have approached your limit,
                press the ‘Stop’ button and start breathing again with a
                few
                deep breaths to recover.</p>
            <br>
            <p style="text-indent: 44px;">
                We use this result to predict possible achievements within 1 month:
            </p>
            <br>
            <p><i class="fa-solid fa-stopwatch"></i> 1 minute or less → 2.5 minutes</p>
            <p><i class="fa-solid fa-stopwatch"></i> 1.5 minutes → 4 minutes</p>
            <p><i class="fa-solid fa-stopwatch"></i> 2.5 minutes and more → about 5 minutes</p>
            <br>
            <p style="text-indent: 44px;">
                Some people are more prone to training than others, there are no specific methods to determine your
                potential in advance. Physical fitness also affects how quickly you progress in holding your breath.
            </p>
        </div>
        <br>
        <h3>
            Step 2 - Methodology
        </h3>
        <p>
            It relates to the frequency of training, location and technology.
        </p>
        <br>
        <p style="text-indent: 44px;">
            Training is based on the implementation of special O2 and CO2 tables (you can calculate them automatically
            after you have determined your maximum breath hold time in the Freediving Apnea Trainer application)
        </p>
        <br>
        <div class="p-text-1">

            <p><i class="fa-solid fa-circle-chevron-right fa-xs"></i> The first 2 weeks do a CO2 table every other day.
            </p>
            <p><i class="fa-solid fa-circle-chevron-right fa-xs"></i> Then try your new maximum breath hold time and
                re-adjust the tables.</p>
            <p><i class="fa-solid fa-circle-chevron-right fa-xs"></i> The next 2 weeks do a O2 table once a day.</p>
            <p><i class="fa-solid fa-circle-chevron-right fa-xs"></i> Next you may combine tables and add "One breath
                CO2
                table" exercise - upgraded version of CO2 table. </p>
            <br>
            <p style="text-indent: 44px;">
                You may use "Square breath" exercise to prepare before tables training.
            </p>
        </div>
        <br>
        <div class="orange-p">
            <p>Do not do two different table types of training on the same day.</p>
            <p>Do not exercise if you feel unwell.</p>
            <p>If the workout is too hard, edit the tables to reduce the hold time.</p>
        </div>
        <br>
        <p style="text-indent: 44px;">
            The idea is that in the first two weeks your body will become accustomed to a high level of CO2 (yes, don’t
            be surprised, the urge to inhale comes precisely from the excess of carbon dioxide formed during the breath
            hold, and not from the lack of oxygen). By increasing the time of the body's tolerance to carbon dioxide, we
            begin to prepare the body for a limited amount of oxygen (O2).
        </p>

    </div>

    <h3>Apnea training tables example:</h3>

    <div class="apnea-main-wrapper">


        <div>
            <div>
                <p>CO<sub>2</sub> table</p>
                <table>
                    <tbody>
                    <tr>
                        <td class="rtejustify">&nbsp;</td>
                        <td class="rtejustify"><strong>Hold</strong></td>
                        <td class="rtejustify"><strong>Breath</strong></td>
                    </tr>
                    <tr>
                        <td class="rtejustify"><strong>1</strong></td>
                        <td class="rtejustify">2:00</td>
                        <td class="rtejustify">2:00</td>
                    </tr>
                    <tr>
                        <td class="rtejustify"><strong>2</strong></td>
                        <td class="rtejustify">2:00</td>
                        <td class="rtejustify">1:45</td>
                    </tr>
                    <tr>
                        <td class="rtejustify"><strong>3</strong></td>
                        <td class="rtejustify">2:00</td>
                        <td class="rtejustify">1:30</td>
                    </tr>
                    <tr>
                        <td class="rtejustify"><strong>4</strong></td>
                        <td class="rtejustify">2:00</td>
                        <td class="rtejustify">1:15</td>
                    </tr>
                    <tr>
                        <td class="rtejustify"><strong>5</strong></td>
                        <td class="rtejustify">2:00</td>
                        <td class="rtejustify">1:00</td>
                    </tr>
                    <tr>
                        <td class="rtejustify"><strong>6</strong></td>
                        <td class="rtejustify">2:00</td>
                        <td class="rtejustify">0:45</td>
                    </tr>
                    <tr>
                        <td class="rtejustify"><strong>7</strong></td>
                        <td class="rtejustify">2:00</td>
                        <td class="rtejustify">0:30</td>
                    </tr>
                    <tr>
                        <td class="rtejustify"><strong>8</strong></td>
                        <td class="rtejustify">2:00</td>
                        <td class="rtejustify">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <div>
                <p>O<sub>2</sub> table</p>
                <table>
                    <tbody>
                    <tr>
                        <td class="rtejustify">&nbsp;</td>
                        <td class="rtejustify"><strong>Hold</strong></td>
                        <td class="rtejustify"><strong>Breath</strong></td>
                    </tr>
                    <tr>
                        <td class="rtejustify"><strong>1</strong></td>
                        <td class="rtejustify">2:00</td>
                        <td class="rtejustify">2:00</td>
                    </tr>
                    <tr>
                        <td class="rtejustify"><strong>2</strong></td>
                        <td class="rtejustify">2:15</td>
                        <td class="rtejustify">2:00</td>
                    </tr>
                    <tr>
                        <td class="rtejustify"><strong>3</strong></td>
                        <td class="rtejustify">2:30</td>
                        <td class="rtejustify">2:00</td>
                    </tr>
                    <tr>
                        <td class="rtejustify"><strong>4</strong></td>
                        <td class="rtejustify">2:45</td>
                        <td class="rtejustify">2:00</td>
                    </tr>
                    <tr>
                        <td class="rtejustify"><strong>5</strong></td>
                        <td class="rtejustify">3:00</td>
                        <td class="rtejustify">2:00</td>
                    </tr>
                    <tr>
                        <td class="rtejustify"><strong>6</strong></td>
                        <td class="rtejustify">3:15</td>
                        <td class="rtejustify">2:00</td>
                    </tr>
                    <tr>
                        <td class="rtejustify"><strong>7</strong></td>
                        <td class="rtejustify">3:30</td>
                        <td class="rtejustify">2:00</td>
                    </tr>
                    <tr>
                        <td class="rtejustify"><strong>8</strong></td>
                        <td class="rtejustify">3:45</td>
                        <td class="rtejustify">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="apnea-text-wrapper">
        <h3>Training place</h3>
        <p style="text-indent: 44px;">
            Dry training (on land), as a rule, is harder for a person than training in water (when immersed in water, a
            person, like all mammals, has a special reflex that helps the body adapt to breath holding). Dry training is
            safer (but even in this way, it is strictly recommended to not do it alone, but with a training partner).
        </p>
        <br>
        <p>Training in the pool is recommended at least once a week and <span
                class="orange-p">ALWAYS with a partner (buddy)</span>.
        </p>
        <br>
        <p style="text-indent: 44px;">
            Why? There is a small percentage of people who have an innate tolerance for the excess of carbon dioxide
            (CO2) produced during breath holding, so their urge to inhale is weak or even absent. In turn, this leads to
            the fact that they have little control over the moment of reaching a critically low level of oxygen in the
            body and their brain is forced to turn off consciousness (blackout) in an attempt to save diminishing energy
            to ensure the functioning of vital organs (brain, heart, etc.). In this situation, only a partner (buddy)
            can save you from drowning. Take care of yourself.
        </p>
        <br>
        <p>
            Training in the water is strongly recommended to be performed after following special freediving courses!
        </p>

        <h4>
            Step 3 - Apnea technique
        </h4>
        <br>
        <p style="text-indent: 44px;">The technique of breath holding includes the following stages:</p>
        <br>
        <p style="font-size: 19px;font-weight: bold">a. Preparing:</p>
        <br>
        <p style="text-indent: 44px;">Relaxation of each muscle, relaxation of the brain (see the technique of
            deconcentrating your mind) and
            relaxation of breathing.</p>
        <br>
        <p style="text-indent: 44px;">Any tension in the muscles leads to an excessive waste of oxygen</p>
        <br>
        <p style="text-indent: 44px;">Breathing is calm, effortless, not quick (avoid hyperventilation)</p>
        <br>

        <p style="font-size: 19px;font-weight: bold">
            b. Breathing just before the breath hold:
        </p>

        <br>
        <p style="text-indent: 44px;">1 - Breathe in 75%</p>
        <br>
        <p style="text-indent: 44px;">2 - Exhale completely 100%</p>
        <br>
        <p style="text-indent: 44px;">3 - Inhale as much as 100%</p>
        <br>
        <p style="font-size: 19px;font-weight: bold">c. Directly during the breath hold:</p>
        <br>

        <p style="text-indent: 44px;">Stop the air from escaping with your vocal cords or larynx, but not your lips.</p>
        <br>
        <p style="text-indent: 44px;">Never let out part of the air before you finish the breath hold.</p>
        <br>
        <p style="text-indent: 44px;">Fundamentally, the breath hold process can be divided into 3 phases:</p>
        <br>
        <p style="text-indent: 44px;">1 - Comfort Phase</p>
        <br>
        <p style="text-indent: 44px;">2 - Initial sensations for desire to breathe due to the action of CO2 increase (I
            repeat, it is the excess of
            carbon dioxide in the body that makes us want to breathe, not the lack of oxygen).</p>
        <br>
        <p style="text-indent: 44px;">3 - Final - struggle with the increasing desire to breathe and diaphragm
            contractions (not always), dut to
            low level of oxygen (О2).</p>
        <br>
        <h4>
            Step 4 - Physical condition
        </h4>
        <br>

        <p style="text-indent: 44px;">The physical condition and body content in a sports form are also very
            important.</p>
        <br>
        <p style="text-indent: 44px;">Anaerobic training - When you force your body to do really hard work, the rhythm
            of your breathing is forced
            to increase, your muscles begin to experience oxygen starvation and begin to burn phosphates and glycogen.
            This type of training should not last long. The combination of anaerobic walks and a regular workout is a
            good solution.</p>
        <br>

        <p style="text-indent: 44px;">Aerobic training, in turn, teaches your body to efficiently absorb oxygen.</p>
        <br>
        <p style="text-indent: 44px;">Healthy eating.</p>
        <br>
        <p style="text-indent: 44px;">Do not drink too much caffeine or alcohol.</p>
        <br>
        <p style="text-indent: 44px;">Drink enough water.</p>
        <br>
        <p style="font-weight: bold;text-indent: 44px;">Do not overeat before exercise, as it takes a lot of energy to
            digest food.</p>
    </div>

{% endblock %}
