<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spearfishing 4 Life</title>
</head>

<body style="display: flex;
			justify-content: center;">
<div style="display: flex;
			justify-content: center;
			border: 3px solid rgb(65, 63, 63);
			border-radius: 20px;
			margin: 3%;
			max-width: 620px;">
    <div>
        <table>
            <nav style="">
                <img style="width: 10rem;
			 margin: 20px 20px;
			 height: 3.3rem;"
                     src="https://media4.giphy.com/media/xvCEFV0yf1PrFs7ytw/200w.gif?cid=6c09b9520o0uaqqezdxxzkht6pmng86czk6zu9gh5qv3jwmh&ep=v1_gifs_search&rid=200w.gif&ct=g"
                     alt="Logo">
            </nav>
        </table>

        <h1 style="text-align: center;
                color: rgb(65, 63, 63);
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">

            <!-- Receiver username -->
            Hello,<span style="color: red;font-size: 22px;font-weight: bold">{{ user.username }}</span>!</h1>

        <div style="display: flex;
                justify-content: center;">
            <img style="width: 70%;margin: auto" id="fish-image"
                 src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExdW1laGVqNThhYm55aWdhMGw1YjR6eDIzd2ZtZHQ0c2t5ZXFhcXc1byZlcD12MV9naWZzX3NlYXJjaCZjdD1n/3o8doP6x7RNhq7wtUc/giphy.gif"
                 alt="fish vortex gif">
        </div>

        <p style="max-width: 550px;
            padding: 20px 20px 0 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Congratulations on creating your profile at Spearfishing4Life.
            We glad you are here.
            Welcome and enjoy.
            Let's make the biggest spearfishing brotherhood!
        </p>
        <p style="max-width: 620px;
            padding: 20px 20px 0 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Sincerely,
            <br>
            <img style="width: 30%;
            margin: 20px 20px;"
                 src="https://thumbs.gfycat.com/DangerousCheerfulBeardedcollie-max-1mb.gif"
                 alt="Logo">
        </p>
    </div>
</div>
</body>
</html>
