{% extends 'base.html' %}
{% block content %}

    <form action="{% url 'users-list' %}?page={{ page_obj.number }}">

        <label for="name">Search by Username:
            <input name="search" placeholder="Add username..." value="{{ search }}">
        </label>

        <div>
            <button class="button-edit-profile">Search</button>
        </div>
    </form>

    <div class="lists">
        <div class="ul-list-wrapper">
            <h2>Users List:</h2>
            <ul class="users-list-ul" style="list-style: none">
                {% for user in object_list %}
                    <li class="users-list-li">
                        <a href="{% url 'profile details' user.pk %}">Users
                            PK={{ user.pk }}, Full Name: {{ user.get_full_name }}</a>
                        <div>
                            <a href="{% url 'profile delete' user.pk %}">Delete</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}">&lt;</a>
    {% else %}
        <a>&lt;</a>
    {% endif %}

    {{ page_obj.number }} / {{ paginator.num_pages }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&search={{ search }}">&gt;</a>
    {% else %}
        <a>&gt;</a>
    {% endif %}

{% endblock %}
