{% extends 'base.html' %}
{% load static %}
{% block content %}

    <form action="{% url 'users-list' %}?page={{ page_obj.number }}">
        <label for="name">
            <input name="search" placeholder="Search username..." value="{{ search }}">
        </label>

        <div>
            <button class="button-edit-profile">Search</button>
        </div>
    </form>

    <div class="lists">
        <div class="ul-list-wrapper">
            <h2>All users:</h2>
            <br>
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a style="color: blue;font-size: 16px" href="?page=1">&laquo; First</a>
                        <a style="color: red;font-size: 16px;"
                           href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                    <span style="font-weight: bold;font-size: 16px"
                          class="current">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
                    {% if page_obj.has_next %}
                        <a style="color: red;font-size: 16px;"
                           href="?page={{ page_obj.next_page_number }}"> Next</a>
                        <a style="color: blue;font-size: 16px" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            <br>

            <ul class="users-list-ul" style="list-style: none">
                {% for user in object_list %}

                    <li class="users-list-li">
                        <a target="_blank" href="{% url 'profile details' user.pk %}">
                            <h3>Status:
                                {% if user.is_superuser %}
                                    {{ user.username }} : superuser
                                {% else %}
                                    {% if user.is_staff %}
                                        {{ user.username }} : staff
                                    {% else %}
                                        {{ user.username }} : regular user
                                    {% endif %}
                                {% endif %}
                            </h3>


                            {% if user.profile_image_url %}
                                <div>
                                    <img style="border: 1px solid black;width: 100px;height: 100px;border-radius: 100%;margin: 5px auto"
                                         src="{{ user.profile_image_url }}"
                                         alt="profile picture">
                                </div>
                            {% else %}
                                <div>
                                    <img style="width: 100px;height: 100px;border-radius: 100%;padding: 8px;margin: 5px auto"
                                         class="profile-image"
                                         src="{% static 'images/no-image-available.jpg' %}"
                                         alt="profile picture">
                                </div>
                            {% endif %}
                            <p> Username: {{ user.username }} </p>
                            <p> Full Name: {{ user.get_full_name }} </p>
                            <p> PK={{ user.pk }} </p>
                            <p> Photos count: {{ user.photo_set.all.count }} </p>
                            <p> Likes count: {{ user.like_set.all.count }} </p>
                            <p> Email: {{ user.email }} </p>
                            <p> Gender: {{ user.gender }} </p>
                        </a>

                        {% if not user.is_superuser %}
                            <div class="div-border">
                                <a class="button-edit-profile" href="{% url 'profile delete' user.pk %}">Delete</a>
                            </div>
                        {% endif %}

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {#    <div style="font-weight: bold;font-size: 18px">#}
    {#        {% if page_obj.has_previous %}#}
    {#            <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}">&lt;</a>#}
    {#        {% else %}#}
    {#            <a>&lt;</a>#}
    {#            #}
    {##}
    {#        {% endif %}#}
    {##}
    {#        {{ page_obj.number }} / {{ paginator.num_pages }}#}
    {##}
    {#        {% if page_obj.has_next %}#}
    {#            <a href="?page={{ page_obj.next_page_number }}&search={{ search }}">&gt;</a>#}
    {#        {% else %}#}
    {#            <a>&gt;</a>#}
    {#        {% endif %}#}
    {#    </div>#}

    <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a style="color: blue;font-size: 16px" href="?page=1">&laquo; First</a>
                        <a style="color: red;font-size: 16px;"
                           href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                    <span style="font-weight: bold;font-size: 16px"
                          class="current">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
                    {% if page_obj.has_next %}
                        <a style="color: red;font-size: 16px;"
                           href="?page={{ page_obj.next_page_number }}"> Next</a>
                        <a style="color: blue;font-size: 16px" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </span>
    </div>

{% endblock %}
