{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% if object_list %}
        <h1>Story List</h1>
        {% for story in object_list %}

            <ul style="list-style: none">

                <li>

                    {% if story.image_url %}
                        <img src="{{ story.image_url }}" alt="story img">
                    {% else %}
                        <img src="{% static 'images/no-image-available.jpg' %}" alt="story img">
                    {% endif %}
                    <p>

                        Title: {{ story.title }}
                        Date: {{ story.date }}
                        Creator: {{ story.creator }}
                    </p>
                    <p>
                        Full Story:{{ story.description }}
                    </p>

                </li>
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}
