{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div>

        <a class="button-edit-profile" href="{% url 'create-story' %}"
           style="font-size: 20px;font-weight: bold"> Add new story
            <i
                    class="fa-regular fa-image fa-flip"
                    style="color: #ff0000;font-size: 30px;display: flex;flex-direction: column;padding: 6px"></i></a>
    </div>
    {% if object_list %}
        <h1>Stories about some spearfishing moments...
            Hold your breath and Enjoy :)

        </h1>
        {% for story in object_list %}

            <ul style="list-style: none">

                <li>

                    {% if story.image_url %}
                        <img src="{{ story.image_url }}" alt="story img">
                    {% else %}
                        <img src="{% static 'images/no-image-available.jpg' %}" alt="story img">
                    {% endif %}
                    <p>

                        Title: {{ story.title }}
                        Date: {{ story.date }}
                    <p>

                        <a href="{{ story.creator }}">Creator: {{ story.creator }}</a>

                    </p>
                    <p>
                        Full Story:{{ story.description }}
                    </p>
                    <a class="button-edit-profile" href="{% url 'details-story' pk=story.pk %}">Show Story-Details
                        <i class="fa-solid fa-circle-info fa-fade fa-xl" style="color: #f50018;"></i>
                    </a>


                </li>
            </ul>
            <hr>

        {% endfor %}
    {% endif %}
{% endblock %}
