{% extends 'base.html' %}
{% load static %}
{% block content %}

    <style>
        .error-404-wrapper {
            border: 2px solid black;
            width: 400px;
            display: flex;
            flex-direction: column;
            padding: 14px;
            margin: auto;
            padding-bottom: 30px;
        }

        .error-404-wrapper a button:hover {
            cursor: pointer;
        }

    </style>


    <div class="error-404-wrapper">

        <h1 style="color: red">Error 404!</h1>
        <h2>Page not found!</h2>

        <a href="{% url 'index' %}">
            <button style="border: 1px solid black;padding: 6px 8px;border-radius: 6px" class="button-edit-profile">
                Return
                to Spearfishing4Life
            </button>
        </a>

    </div>


{% endblock %}
