{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon"
          href="{% static 'images/free-30-instagram-stories-icons23_122570.png' %}">
    <title>~SpearFishing4Life~</title>
</head>
<body>

{% include 'nav.html' %}

<main>

    {% block content %}
    {% endblock %}

</main>


<div class="footer">

    <a style="padding: 16px;font-size: 26px;color: red;font-weight: bold;background-color: #79e792;display: block"
       href="{% url 'go to github' %}" target="_blank"><span style="color: blue">~ G.Lukanov ~</span> Git-Profile -> Click Here!</a>

</div>

</body>
</html>