{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon"
          href="{% static 'images/png-transparent-spearfishing-free-diving-hobby-underwater-diving-spear-fisherman.png' %}">
    <script src="https://kit.fontawesome.com/f0e152ed05.js" crossorigin="anonymous"></script>

    <title>~SpearFishing4Life~</title>
</head>
<body>

{% include 'nav.html' %}

<main>

    {% block content %}
    {% endblock %}

</main>


<div class="footer">
    <br>
    <a style="padding: 16px;font-size: 26px;color: red;font-weight: bold;background-color: #b9d5fd;display: block"
       href="{% url 'go to github' %}" target="_blank"><span style="color: blue">G.Lukanov </span> Git
    <i class="fa-brands fa-github fa-flip" style="color: #ff0000;"></i>
    </a>

</div>

</body>
</html>

