{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="winner-gift">

        <article class='gift-article1'>
            <img src="{% static 'images/winner-kit.jpg' %}" alt="winner-kit">
        </article>

        <article class='gift-article2'>
            <h2>Winner's Gift kit: Full Spetton Set:</h2>
            <br>
            <h3>
                <p>
                    Brown Gold Camo 7 mm Elite Pack.
                    Includes:

                <p> <span class="gift-span-numbers">1</span>. Wetsuit Brown Gold Camo SCS 7 mm (ref. THP957)</p>
                LONG JOHN TROUSERS.

                Its technic characteristics, quality manufacture and the sofistication in the distorsion of colors
                make this suit a luxe edition. This neoprene has been designed in exclusive with specifiques
                features more resistant, more elastic, low compresion and good recovery. It has a preformed,
                anatomical cut to provide maximum confort, with extra- large knees pads, elbows and crotch
                reinforced in Powertex Extra-elastic Nylon. 3mm Melco antiabrasive big chest pad reinforcement for
                speargun loading . “Water Dry System” neoprene smooth seals in wrists, ankles and hood. Button
                closure relax click with Supratex reinforcement. Inside Microporous SCS Metal Gold thermical coated,
                witch keeps the temperature up to 25% compared to traditional microporouse open cell. Water and soap
                not needed to dress in. Outside
                UltraSpam Nylon more elastic and comfortable. Available different thickness for jacket and long
                john.

                Specifications:

                - Knee Pads: POWER TEX.
                - Elbow pads.
                - Pattern: Performed.
                - Neoprene: Ultraspam.
                - Interior: SCS Metal Gold.

                <p> <span class="gift-span-numbers">2</span>. Mask Matt Brown (ref. MPSN-90BR)</p>

                Features:
                - Model: Asymmetric double lens.
                - Volume: Very low.
                - Face: Matt black silicone.
                - Frame: Reduced 8mm ABS.
                - BUCKLES:s: Swivel Roller.
                - Strap: Double fixing.
                - Remarks: Special eye distortion with subframe clear. PVC box included.

                <p><span class="gift-span-numbers">3</span>. Snorkel Matt Silicone Flexible Mate Brown (ref. RPSN-86BR)</p>

                Specifications:

                - Model: Gradual flexibility.
                - Diameter: 25 mm.
                - Mouth piece: Anatomic black silicone.
                - Fixing: Lateral closing.
                - Sign: Reflective.
                - Remarks: Anatomic curvature.
                <p> <span class="gift-span-numbers">4</span>. Nylon Buckle Nylon Belt (ref. ACCP-24)</p>

                Features:

                - Four different models to meet every fisher requirements.
                - 1.60m perimeter as standard.
                - Longer perimeter Available on request.
                - Rubber belt with stainless buckle 1.5mm rubber nylon belt with stainless Buckle cordura nylon.
                - Nylon belt with pvc buckle cordura nylon , injected buckle and new Belt with anti-magnetic inox
                buckle nylon / inox classic.


                <p> <span class="gift-span-numbers">5</span>. Competition Fish Holder Small with Line (ref. ACCP-18)</p>

                Features:
                - Stainless steel with1.60mm PVC thread and nylonsnap harness.
                <p> <span class="gift-span-numbers">6</span>. Torpedo Pvc (ref. ACCP-03)</p>

                Oval shape torpedo float, 80x35x30cm, more stableand more flotation capacity. It has six flexible
                hooks and two more for traction. With rope, snap clip and flagent.
                </p>

            </h3>

        </article>
    </div>

{% endblock %}
