{% load static %}
<header>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'images/underwater-hunter-skull-Logo.jpg' %}" alt="nav-logo">
                </a>
            </div>

            <button onclick="topFunction()" id="myBtn" title="Go to top">
                <i class="fa-solid fa-up-long fa-xl" style="color: white;"></i>
            </button>

            <div class="nav-links">
                <ul class="nav-group">

                    {% if request.user.is_authenticated %}
                        {% if request.user.is_authenticated and request.user.is_staff %}
                            <li class="nav-item hidden_nav_item">
                                <a href="{% url 'admin-panel' %}">
                                    <i>/admin</i>
                                </a>
                            </li>

                            <li class="nav-item hidden_nav_item">
                                <a href="{% url 'users-list' %}">
                                    <i>/users</i>
                                </a>
                            </li>

                        {% endif %}

                        <li class="nav-item">
                            <a href="{% url 'add-photo' %}">
                                <i>Add Photo</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'events-list' %}">
                                <i>Events</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'weather' %}">
                                <i>Weather</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'locations' %}">
                                <i>Locations</i>
                            </a>
                        </li>

                        {% if not request.user.equipment %}
                            <li class="nav-item">
                                <a href="{% url 'add-equipment' %}">
                                    <i>Add-Equipment</i>
                                </a>
                            </li>
                        {% endif %}

                        <li class="nav-item">
                            <a href="{% url 'all-stories' %}">
                                <i>Stories</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'calculator' %}">
                                <i>Calculator</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'apnea-trainer' %}">
                                <i>Apnea</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'about' %}">
                                <i>About</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'profile details' pk=request.user.pk %}">
                                <i>Profile</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'change-password' %}">
                                <i>Change password</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'logout' %}">
                                <i>Log out</i>
                            </a>
                        </li>

                    {% else %}

                        <li class="nav-item">
                            <a href="{% url 'calculator' %}">
                                <i>Calculator</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'apnea-trainer' %}">
                                <i>Apnea</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'about' %}">
                                <i>About</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'login' %}">
                                <i>Log in</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'register' %}">
                                <i>Register</i>
                            </a>
                        </li>

                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    <script>
        let mybutton = document.getElementById("myBtn");
        window.addEventListener("scroll", scrollFunction);

        function scrollFunction() {
            if (window.scrollY > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        function scrollToTop() {
            if (window.scrollY > 0) {
                window.requestAnimationFrame(scrollToTop);
                window.scrollTo(0, window.scrollY - window.scrollY / 8);
            }
        }

        mybutton.addEventListener("click", scrollToTop);
    </script>

</header>
