{% load static %}
<header>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img width="150px"
                         src="{% static 'images/underwater-hunter-skull-vector-illustration-head-of-skeleton-with-mask-and-crossed-spearguns-born-to-dive-text-seaside-activity-concept-for-scuba-d-2J2DPM1.jpg' %}"
                         alt="nav-logo">
                </a>
            </div>


            <button onclick="topFunction()" id="myBtn" title="Go to top">
                <i class="fa-solid fa-up-long fa-flip fa-2xl" style="color: #3243f3;"></i>
            </button>


            <div class="nav-links">
                <ul class="nav-group">

                    {% if request.user.is_authenticated %}

                        {% if request.user.is_authenticated and request.user.is_superuser %}
                            <li class="nav-item">
                                <a style="background-color: #09cb04" href="{% url 'users-list' %}">
                                    <i>Users List</i>
                                </a>
                            </li>
                        {% endif %}

                        <li class="nav-item">
                            <a href="{% url 'add-photo' %}">
                                <i>Add Photo</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'events-list' %}">
                                <i>Blue-Events</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'weather' %}">
                                <i>Check Weather</i>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a href="{% url 'locations' %}">
                                <i>Locations</i>
                            </a>
                        </li>

                        {% if not request.user.equipment %}
                            <li class="nav-item">
                                <a href="{% url 'add-equipment' %}">
                                    <i>Add-Equipment</i>
                                </a>
                            </li>
                        {% endif %}



                        <li class="nav-item">
                            <a href="{% url 'all-stories' %}">
                                <i>Stories</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'about' %}">
                                <i>About</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'profile details' pk=request.user.pk %}">
                                <i>Profile={{ request.user }}</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'logout' %}">
                                <i>Log out</i>
                            </a>
                        </li>

                    {% else %}

                        <li class="nav-item">
                            <a href="{% url 'login' %}">
                                <i>Log in</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'register' %}">
                                <i>Register</i>
                            </a>
                        </li>

                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    <script>
        let mybutton = document.getElementById("myBtn");
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

</header>
