@media only screen and (max-width: 1250px) {
    .history-h1 {
        font-size: 20px;
    }

    body > main > div > article.bg-about p {
        font-size: 16px;
    }

    body > main > div > article:nth-child(2) > p:nth-child(2) {
        font-size: 16px;

    }

    body > main > div > article:nth-child(2) > p:nth-child(3) {
        font-size: 16px;
    }
}

@media only screen and (max-width: 800px) {
    .history-h1 {
        font-size: 16px;
    }

    body > main > div > article.bg-about p {
        font-size: 14px;

    }

    body > main > div > article:nth-child(2) > p:nth-child(2) {
        font-size: 14px;
    }

    body > main > div > article:nth-child(2) > p:nth-child(3) {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    .history-h1 {
        font-size: 15px;
    }

    body > main > div > article:nth-child(2) > p:nth-child(2) {
        font-size: 13px;
    }

    body > main > div > article:nth-child(2) > p:nth-child(3) {
        font-size: 13px;
    }
}

@media only screen and (max-width: 600px) {
    .video-wrapper iframe {
        width: 90vw;
        height: 50vh;
    }
}

@media only screen and (max-width: 800px) {
    .history-h1 {
        font-size: 15px;
    }

    .bg-about1 {
        border: 1px solid #000000;
        margin: 10px;
        height: 220px;
        overflow: auto;
        box-shadow: 1px 1px 8px #000000;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .about-history2 {
        border: 1px solid #000000;
        margin: 10px;
        height: 220px;
        overflow: auto;
        box-shadow: 1px 1px 8px #000000;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
}