.about-history {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 5%;

}

.about-history article img {
    border-radius: 22px;
    box-shadow: 1px 1px 20px gray;
    border: 1px solid gray;
    width: 40vw;
}

.about-history article p {
    font-size: 20px;
    padding: 8px;
}

.history-h1 {
    font-size: 32px;
}

.about-history2 {
    font-size: 18px;
    text-align: start;
    margin: 6px 6%;
}

.about-history2 p {
    line-height: 1.3;
    padding: 12px 10%;
}