.about-history {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 5%;
    color: #525252;
}

.about-history article img {
    border-radius: 22px;
    box-shadow: 1px 1px 20px gray;
    border: 1px solid gray;
    width: 40vw;
}

.about-history article p {
    font-size: 18px;
    padding: 8px;
}

.history-h1 {
    font-size: 32px;
}

.about-history2 {
    font-size: 16px;
    text-align: start;
    margin: 6px 10%;
}

.about-history2 p {
    padding: 4px 10%;
}

.history-span1 {
    font-weight: bold;
    font-size: 19px;
}

.video-wrapper {
    height: 50vh;
}

.video-wrapper iframe {
    border-radius: 10px;
}