.event-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 20px;
    margin: 20px;
    text-shadow: 1px 1px 1px gray;
}

.event-container h3 img {
    width: 40vw;

}

.event-buttons {
    box-shadow: 1px 1px 7px #0a0a0a;
}

.competitors {
    font-size: 16px;
}

.rewards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: #3d3c3c solid 2px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #0a0a0a;
}

.h1-winners-pool {
    box-shadow: 1px 1px 7px #0a0a0a;
    padding: 12px;
    background-color: #ced0d2;
    border-radius: 20px;
    width: 50%;
    margin: 30px auto;
    font-size: 34px;

}

.event-container {
    display: flex;
    padding: 3%;
    gap: 24px;
    border-radius: 30px;
    background-color: #b9d5fd;
    box-shadow: 1px 1px 15px #0a0a0a;
    margin: 0 7%;
}

h1 {
    color: #0d1fe5;
    margin: 20px;
    text-shadow: 1px 1px 1px black;

}

.winner-gift {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
}

.winner-gift img {
    width: 50vw;
}

.gift-article1 img {
    border-radius: 6px;
}

.gift-article2 p {
    color: #0d1fe5;
    font-size: 18px;

}

.gift-article2 h3 {
    font-size: 17px;
    letter-spacing: 1px;
}

.gift-article2 {
    padding: 3%;
    margin: auto;
}

.gift-span-numbers {
    color: red;
    font-weight: bold;
    font-size: 30px;
}

.gift-article2 h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    text-shadow: 1px 1px 1px black;
}

.gift-article1 img {
    border: 1px solid #8c8888;
    box-shadow: 1px 1px 15px #b7b5b5;
}


main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 10px;
    text-align: center;
    border-radius: 20px;

}

.event-container img {
    border: 1px solid #696666;
    border-radius: 10px;
    box-shadow: 1px 1px 15px #363535;

}

.event-container img:hover {
    scale: 1.02;
    transition: 200ms linear;
    cursor: pointer;
}

.competitors {
    border-radius: 14px;
    margin: 6px auto;
    width: 150px;
    height: 55px;
    padding: 8px;
    background-color: #dedcdc;
    box-shadow: 1px 1px 7px #363535;

}

.competitors-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

}

.competitors a:hover {
    color: red;
    text-decoration: underline;
    transition: 200ms linear;
    border-radius: 8px;
}

.competitors-li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.competitors:hover {
    background-color: #f3efef;
    color: red;
}

.gift-a {
    text-decoration: none;
    color: red;
    text-shadow: 1px 1px 1px black;

}

.event-details-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event-details-wrapper1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
}


.h3-details {
    color: #043fee;
}

.winners-span {
    color: #3b3939;
}

.event-wrapper a {
    border: 1px solid black;
    padding: 12px;
    border-radius: 14px;
    color: white;
    text-decoration: none;
    background-color: #1e9a01;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    font-size: 16px;

}

.event-wrapper a:hover {
    background-color: white;
    color: red;
    text-shadow: 1px 1px 1px black;
    transition: 200ms linear;
}

#id_competitors {
    width: 200px;
    height: 250px;
    padding: 10px;
    color: red;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #b9d5fd;
    display: flex;

}

.competitors {
    display: flex;
    justify-content: center;
    align-items: center;
}