
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    min-height: 100vh;


}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
    align-items: center;
    gap: 26px;

}

.logo a, .footer a {
    text-decoration: none;
}

.logo img {
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 16px;
    box-shadow: 1px 1px 10px 1px black;
}

.logo img:hover {
    scale: 1.1;
    transition: linear 200ms;
}

.footer {
    text-align: center;
    margin-top: 10px;
}

.footer:hover a {
    zoom: 1.1;
    transition: linear 350ms;
}

.nav-group {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;

}

.nav-group a {
    text-decoration: none;
    border: 2px solid black;
    padding: 12px 12px;
    border-radius: 10px;
    background-color: #b9d5fd;
    color: blue;


}

.nav-group a:hover {
    color: #ef4848;
    background-color: #0d1fe5;
    transition: linear 250ms;
    z-index: 100;
    position: relative;

}


.nav-links {
    font-size: 18px;
}

/*background image*/
header {
    background-image: url("/staticfiles/images/pexels-pixabay-62307.jpg");
    background-size: cover;
    overflow: hidden;
}

#bubbles {
    opacity: 0.4;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -111;

}

/*profile photos*/
.photo-wrapper {
    display: flex;


}

.photo-wrapper img {

    width: 350px;
    height: 350px;
    border-radius: 16px;
    border: 2px solid black;
    padding: 4px;
    margin: 10px;
    background-color: #ccc6c6;

}

.photo-wrapper li {
    padding-left: 10px;
    margin: 8px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #796565;
}

.icons-wrapper {
    padding-left: 20px;
    padding-bottom: 8px;
}

.icons-wrapper i {
    color: #eae5e5;
    font-size: 26px;
    display: inline-block;
    padding: 8px;

}

/*profile container*/

.profile-container {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    border-radius: 12px;
    border:2px solid black;
    padding: 12px;
    background-color: #eae5e5;
    width: 80vw;
}

.profile-container ul {
    list-style: none;

}


/*button-edit-profile*/
.button-edit-profile{
    border: 1px solid black;
    display: inline-block;
    border-radius: 20px;
    padding:10px;
    text-decoration: none;
    text-align: center;
    margin:12px 4px;
    background-color: #474e50;
    font-size: 18px;
    color: white;
}