
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Helvetica Neue", sans-serif;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(94deg, rgba(255, 255, 255, 1) 0%, rgba(157, 207, 254, 1) 100%);
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(236, 233, 233) 2%, rgba(187, 188, 190, 1) 33%, rgba(121, 123, 124, 1) 61%, rgba(145, 143, 143, 1) 87%);
    box-shadow: 1px 4px 15px 2px #257685;
}

.logo a, .footer a {
    text-decoration: none;
}

.logo img {
    border: 1px solid black;
    margin: 8px 12px;
    box-shadow: 1px 1px 20px 1px #000000;
    background-color: white;
    position: relative;
    width: 125px;
}

.logo img:hover {
    scale: 1.011;
    transition: linear 110ms;
    box-shadow: 0 0 5px 2px #257685;
}

.footer {
    text-align: center;
    margin-top: 50px;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(232, 229, 229) 2%, rgba(187, 188, 190, 1) 33%, rgba(121, 123, 124, 1) 61%, rgba(145, 143, 143, 1) 87%);
    /*box-shadow: -1px -5px 15px 1px #33a1ef;*/
    box-shadow: -1px -5px 15px 1px #257685;
    font-size: 16px;
    padding-bottom: 6px;
}

.footer-wrapper h3 {
    padding-bottom: 12px;
    color: #2c2929;
}

.f1 p, a {
    color: #000000;
    font-size: 18px;
}

.f1 p:hover {
    color: red;
    cursor: pointer;
}

.f1 p a:hover {
    color: red;
}

.footer-wrapper h3:hover {
    color: red;
    cursor: pointer;
    scale: 1.02;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    padding-top: 8px;
}

.f1-wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-left: 12px;
}

.f1 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.15;
    padding-right: 12%;
}

.f1 a {
    font-size: 18px;
}

.footer span {
    color: red;
}

.users-photos i:hover {
    scale: 1.2;
    cursor: pointer;
}

.users-photos {
    box-shadow: 0 0 10px 5px #969393;
}

.button-edit-profile:hover {
    background-color: #1e1d1d;
}

.second-option {
    text-align: center;
    font-size: 22px;
    padding-bottom: 31px;
}

.second-option a {
    text-decoration: none;
}

.nav-group {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 10px;
}

header {
    border-bottom: 2px solid #ece2e2;
    margin-bottom: 50px;
}

.nav-group a {
    text-decoration: none;
    border: 1px solid black;
    padding: 16px 16px;
    background-color: #7ac8d5;
    color: black;
    box-shadow: 0 0 5px 1px #605e5e;
    font-size: 20px;
    font-weight: bold;
    font-family: "Arial Black", sans-serif;
    text-shadow: 0 0 1px #f8efef;
}

.profile-icon-2 {
    display: flex;
    align-items: center;
}

.nav-group a:hover {
    color: red;
    background-image: url("bg-images/6.gif");
    background-size: 100% 112%;
    transition: linear 155ms;
    z-index: 100;
    position: relative;
    padding-bottom: 57px;
    padding-top: 65px;
    border-bottom: 5px solid red;
}

#bubbles {
    width: 100%;
    position: absolute;
    z-index: -111;
}

.photo-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photo-wrapper img {
    width: 45vw;
    margin: 0 20px;
    background-color: #ccc6c6;
    border-radius: 4px;
}

img:hover {
    cursor: pointer;
}

.photo-wrapper li {
    background-color: #257685;
    border-radius: 4px;

}

.icons-wrapper {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-wrapper i {
    color: #fffdfd;
    font-size: 26px;
    display: inline-block;
    padding: 4px;
}

.icons-wrapper a {
    text-decoration: none;
}

.profile-container {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    padding: 12px;
    width: 80vw;
}

.profile-container ul {
    list-style: none;
}

.button-edit-profile {
    display: inline-block;
    border-radius: 20px;
    padding: 6px;
    text-decoration: none;
    text-align: center;
    margin-top: 12px;
    background-color: #474e50;
    color: #dedada;
    border: 1px solid #474e50;
}

.profile-details-wrapper-home-page {
    text-align: center;
    padding: 12px;
    letter-spacing: 1.1px;
}

.profile-details-wrapper-home-page h4, h3 {
    padding: 4px;
}

.profile-details-wrapper-home-page h4 a {
    text-decoration: none;
    color: #90029f;
}

.profile-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 16px;
    padding: 10px;
    margin: 20px auto auto;
    width: 60%;
    background-color: #d7d5d5;
    font-family: "Palatino Linotype", sans-serif;
    font-size: 22px;
    font-weight: bold;
}

div.profile-details-wrapper > h4:nth-child(6) {
    border-bottom: 1px solid black;
    padding-bottom: 14px;
}

.button-login {
    border: 1px solid black;
    display: inline-block;
    border-radius: 20px;
    padding: 8px;
    text-decoration: none;
    background-color: #474e50;
    font-size: 15px;
    color: white;
    width: 100px;
    margin: auto;
}

.comment-container {
    position: relative;
}

.comment-container li {
    position: relative;
    background-color: #dad7d7;
    width: 25vw;
    height: 20vh;
    margin: 4px auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 18px;
    overflow: auto;
    justify-content: space-around;
}


.comment-container li a {
    text-decoration: none;
}

.about-history {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 5%;

}

.about-history article img {
    border-radius: 22px;
    box-shadow: 1px 1px 20px gray;
    border: 1px solid gray;
    width: 40vw;
}

.about-history article p {
    font-size: 20px;
    padding: 8px;
}

.history-h1 {
    font-size: 40px;
}

.photo-wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.col-9 {
    position: relative;
}

.searchbar-button {
    position: relative;
    top: -48.5px;
    right: -129px;
}

.searchbar-button img {
    width: 30px;
    height: 30px;
}


#id_description {
    padding: 8px;
    font-weight: bold;
    color: #4f4e4e;
}

.nav-item a i {
    font-size: 16px;
}

body > main > div.col-9 > form > label {
    display: none;
}

body > main > div.col-9 > form {
    height: 100px;
}

.profile-image {
    width: 50%;

    border: 2px solid black;
}

body > main > form > ul {
    list-style: none;
}

body > main > form {
    line-height: 1.3;
}