.location-searchbar {
    display: flex;
    flex-direction: row;
}

.map-wrapper {
    width: 75%;
    margin: auto;
    border: 1px solid #000000;
}

.h2-maps {
    color: #0334ad;
    font-size: 36px;
    text-shadow: 1px 1px 1px #020202;
    font-family: "Malgun Gothic", serif;
}
