.location-searchbar {
    display: flex;
    flex-direction: row;
}

.map-wrapper {
    width: 50%;
    margin: auto;
}

.h2-maps {
    font-size: 20px;
    text-shadow: 1px 1px 1px #020202;
}

.weather-wrapper-global {
    background-image: url("bg-images/9.gif");
    background-size: 50% 150%;
    padding: 60px;
    border-radius: 6px;
    box-shadow: 0 0 20px 10px #b9b7b7;
    line-height: 1.5;
    margin: 0 3%;
}

.wrong-datas {
    line-height: 1.25;

}

.wrong-datas div {
    line-height: 1.25;

}

.h5-locations-wrapper {
    line-height: 1.25;
}

