form {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 8px;
    width: 385px;
    margin: 20px auto;
    padding: 26px;
    background: rgb(185, 213, 253);
    background: linear-gradient(90deg, rgba(185, 213, 253, 1) 0%, rgba(51, 140, 201, 1) 25%, rgb(178, 246, 162) 70%, rgba(72, 135, 224, 1) 100%);
    border-radius: 12px;
    font-size: 20px;
}

form button {
    display: block;

}

form button:hover {
    cursor: pointer;
}

form input {
    width: 300px;
    padding: 10px;
    color: #4b1010;
    background-color: #eae5e5;
    font-size: 18px;
    border-radius: 6px;
}

.helptext {
    display: none;
}

body > main > div > div.login-register-box > form > ul {
    display: none;
    text-decoration: none;
}

body > main > div > div.login-register-box > form > ul.errorlist {
    display: block;
    color: red;
}

#toggle-hide {
    display: none;
}

#toggleButtonForPasswordLoginPage {
    position: relative;
    right: -125px;
}

#toggleButtonForPasswordLoginPage button {
    color: blue;
    width: 44px;
    height: 30px;
    font-weight: bold;
    background-color: #d0cccc;
    border-radius: 4px;
}
