#myBtn {
    display: none;
    position: fixed;
    bottom: 27px;
    right: 15px;
    z-index: 99;
    outline: none;
    background-color: #257685;
    color: white;
    cursor: pointer;
    padding: 18px;
    border-radius: 4px;
    font-size: 22px;
    border: 2px solid black;
}

#myBtn:hover {
    background-color: #054b57;
}
