.stories-wrapper {
    width: 80%;
    display: flex;
    border: 3px solid #030303;
    align-items: center;
    gap: 5%;
    margin: 100px auto;
    padding: 36px;
    box-shadow: 1px 1px 20px gray;
}

.stories-wrapper article {
    display: flex;
    flex-direction: column;
    background-color: #ddf6f2;
    padding: 4px;
    border: 1px solid #000000;

}

.stories-wrapper img {
    border-radius: 100%;
    padding: 16px;
    margin: 10px;
    width: 25vw;

}

.stories-wrapper2 {
    width: 50vw;
    margin: auto;
}

.stories-wrapper2 img {
    width: 60%;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

.story-details-p {
    font-size: 20px;
    font-weight: bold;
}

.story-details-p-1 a {
    font-size: 28px;
    font-weight: bold;
    color: red;
    text-decoration: none;
    border-bottom: 4px solid #ff0000;
    padding-bottom: 6px;
}

.stories-wrapper2-global {
    width: 75%;
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding: 12px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 1px 1px 100px #696868;
}

.details-story-wrapper {
    margin: 10px 30%;
    background-color: #ddf6f2;
    padding: 12px;
    box-shadow: 1px 1px 20px #656565;
    font-size: 22px;
    font-family: "Times New Roman", sans-serif;
    text-shadow: 1px 1px 2px #807f7f;
    border-radius: 4px;

}

.stories-wrapper {
    font-size: 20px;
}

.stories-titles {
    font-size: 18px;
    padding: 12px;
    font-weight: bold;
    margin: 8px;

}

.stories-titles div {
    margin-bottom: 12px;
}

.stories-description {
    font-family: "Times New Roman", sans-serif;
    padding: 20px;
    margin: 10px;
    text-shadow: 1px 1px 2px #5e5858;
}

.story-creator {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #6b6969;


}

.gif-story1:hover {
    padding: 100px 95px;
    background-image: url("bg-images/bg1.gif");
    color: red;
    font-weight: bold;


}

.gif-story1 {
    margin-bottom: 30px;
}

.gif-story2:hover {
    padding: 75px 50px;
    background-image: url("bg-images/bg3.gif");
    background-size: cover;
    transition: 300ms linear;
    font-weight: bold;
    border-radius: 100%;

}

.create-story-bg {
    background-image: url("bg-images/underwater-ship.jpg");
    background-size: 100% 100%;
    box-shadow: 0 0 20px 10px #807d7d;


}