.welcome-msg {
    font-size: 18px;
    letter-spacing: 1.3px;
    text-shadow: 1px 1px 1px #625d5d;
    line-height: 1.32;
    padding: 0 10%;
}

.welcome-title, .p-and-l {
    color: red;
}

.p-and-l {
    font-size: 26px;
}

@media only screen and (max-width: 1200px) {
    .welcome-msg {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1000px) {
    .welcome-msg {
        font-size: 13px;
    }
}

@media only screen and (max-width: 800px) {
    .welcome-msg {
        font-size: 12px;
    }
}