.welcome-msg {
    font-size: 20px;
    letter-spacing: 1.2px;
    text-shadow: 1px 1px 1px #625d5d;
    line-height: 1.72;
}

.welcome-title, .p-and-l {
    color: red;
}

.p-and-l {
    font-size: 32px;
}


