{% extends 'base.html' %}
{% load placeholders %}
{% block content %}

    <div>
        <h2 class="h2-maps">Top shared locations from our users!</h2>
        <br>
        <div class="map-wrapper">
            {{ m|safe }}
        </div>
    </div>
    <div>

        <h2 class="h2-maps">Search new Locations here:</h2>

        <form class="location-searchbar" method="POST">

            {% csrf_token %}
            {{ form.address|placeholder:'City name or coordinates...' }}

            <button style="border: 1px solid #474e50;background-color: #474e50;color: #fcfcfc;border-radius: 14px;padding: 6px;font-weight: bold"
                    type="submit">Search
            </button>

        </form>
        <h4 class="h5-locations-wrapper">You can search using city name or search using coordinates:
            <p>Latitude and Longitude.</p>
            <p>For example:</p>
            <p>Hong Kong, China -</p>
            <p>22.321281514822648, 114.16861223046111</p>
        </h4>
    </div>

{% endblock %}
