{% extends 'base.html' %}
{% block content %}

    <div class="weather-wrapper-global">
        <form method="post">
            {% csrf_token %}

            <label for="city">Location:
                <input type="text" name="city" placeholder="Enter city name...">
            </label>
            <div>
                <button class="button-edit-profile" type="submit">Check Weather</button>
            </div>
        </form>

        <article id="weather-wrapper">
            {% if weather_data %}
                <div style="background-color: #eee7e7;display: flex;padding:10px;flex-direction: column;gap:8px;font-size: 22px;border:1px solid black;border-radius: 10px;width: 300px;margin: auto">

                <h3>{{ weather_data.city|capfirst }}</h3>
                <h4>Temp: <span style="color: #f85e00"> {{ weather_data.temperature }}°C </span></h4>
                <h4>Wind: <span style="color: #2839e8"> {{ weather_data.wind }} km/h </span></h4>
                <h4>{{ weather_data.description }}</h4>
                <h4>Clouds: {{ weather_data.clouds }}%</h4>

                <div>
                    <img style="width: 105px" src="https://openweathermap.org/img/w/{{ weather_data.icon }}.png"
                         alt="{{ weather_data.description }}">
                </div>

            {% else %}
                <h2>No city selected: Please Enter city name!</h2>
            {% endif %}

            </div>
        </article>
    </div>

{% endblock %}
