{#{% extends 'base.html' %}#}
{#{% block content %}#}
{#    <div class="wrong-datas">#}
{#        <div style="border: 3px solid #000000;width: 400px;margin: auto;padding: 20px;border-radius: 8px">#}
{#            <h2>Your address input is invalid!</h2>#}
{#            <h2>Please,Click <a href="{% url 'locations' %}">HERE</a> to try again!#}
{##}
{#            </h2>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{% extends 'base.html' %}
{% block content %}

    <div style="margin: auto;display: flex;flex-direction: column;border-radius: 6px;
    gap: 4px;border: 2px solid black;padding: 20px;background-color: #e1e1e1">
        <h2><i class="fa-solid fa-circle-exclamation fa-flip fa-lg" style="color: #ff0000;"></i></h2>
        <h2>Your address input is invalid!</h2>
        <br>

        <div>
            <a style="display: inline" class="button-edit-profile" href="{% url 'locations' %}">Back to locations</a>
        </div>
    </div>

{% endblock %}
