{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="photo-wrapper">
        <ul style="list-style: none">

            {% if photo %}
                <li class="users-photos">
                    <div class="profile-details-wrapper-home-page">
                        <h4>
                            <a href="{% url 'profile details' pk=photo.user.pk %}">

                                <i class="fa-solid fa-user" style="color: #f7f9fd"></i>
                                <span>{{ photo.user.get_full_name }}</span> - {{ photo.user.username|capfirst }}
                            </a>

                        </h4>
                        <h4><i class="fa-solid fa-envelope " style="color: #fcfcfc;"></i> {{ photo.user.email }}
                        </h4>


                    </div>

                    <img src="{{ photo.photo.url }}" alt="img">
                    <div class="comment-description">
                        <h3><span class="location-comment">Location</span>: {{ photo.location }}</h3>
                        <h3><span class="description-comment">Description</span>:
                            <p>
                                {{ photo.description }}
                            </p>
                        </h3>
                    </div>
                    <div class="icons-wrapper">
                        <div>
                            <h4>likes: {{ photo.like_set.all.count }}</h4>
                            {% if not photo.like_set.all.count %}

                                <a href="{% url 'like' photo.id %}">
                                    <i class="fa-solid fa-heart" style="color: #fdfdfd;"></i>
                                </a>


                            {% else %}

                                <a href="{% url 'like' photo.id %}">
                                    <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
                                </a>


                            {% endif %}

                            <i class="fa-solid fa-square-share-nodes "></i>
                        </div>
                        {% if is_owner %}
                            <div>

                                <a href="{% url 'edit-photo' photo.pk %}">
                                    <i class="fa-solid fa-pen-to-square"
                                       style="color: #102fef;"></i></a>

                                <a href="{% url 'delete-photo' photo.pk %}"><i
                                        class="fa-solid fa-trash-can-arrow-up"
                                        style="color: #77004e;">
                                </i></a>

                            </div>

                        {% endif %}
                    </div>

                    <div>
                        <hr>
                        <br>
                        <h2>Comments:</h2>
                        {% if photo.comment_set.all %}

                            <ul class="comment-container" style="list-style: none;">
                                {% for comment in photo.comment_set.all %}
                                    <li style="padding:8px">
                                        <h3>
                                            <a href="{% url 'profile details' pk=comment.user.pk %}">{{ comment.user }}:</a>
                                        </h3>
                                        {{ comment.text }}
                                        <h6 style="color: #e80202">
                                            {{ comment.date_time_of_publication }}
                                        </h6>

                                    </li>
                                {% endfor %}
                            </ul>

                        {% endif %}

                        <form method="post" action="{% url 'add-comment' photo.id %}">
                            {{ comment_form.as_p }}
                            {% csrf_token %}
                            <div>
                                <button class="button-edit-profile" type="submit">Post comment</button>
                            </div>
                        </form>
                    </div>
                </li>


            {% endif %}
        </ul>
    </div>

{% endblock %}
