{% extends 'base.html' %}
{% block content %}

    <div class="edit-delete delete-photo">

        <form method="post" action="{% url 'edit-photo' pk=pk %}" enctype="multipart/form-data">
            <h3>Edit photo</h3>

            {{ form.as_p }}
            {% csrf_token %}

            <button class="button-edit-profile" type="submit">Edit Photo</button>
            <a class="button-edit-profile" style="color: #dedada;font-size: 13px"
               href="{% url 'photo-details' pk=pk %}">Back to
                Photos</a>
        </form>
    </div>

{% endblock %}
