{% extends 'base.html' %}
{% block content %}

    <main>
        <!-- Start Add Photo Section -->
        <div class="edit-delete edit-photo">
            <h2>Add photo</h2>
            <!-- Start Add Photo Form -->
            <form class="add-photo-form" method="post" enctype="multipart/form-data">

                {{ form.as_p }}
                {% csrf_token %}


                <button class="button-edit-profile" type="submit">Add Photo</button>
            </form>
        </div>

    </main>

{% endblock %}
