{% extends 'base.html' %}
{% block content %}

    <main>

        <div class="add-photo-wrapper">

            <div class="edit-delete edit-photo">
                <form class="add-photo-form" method="post" enctype="multipart/form-data">
                    <h3>Add photo</h3>

                    {{ form.as_p }}
                    {% csrf_token %}

                    <button class="button-edit-profile" type="submit">Add Photo</button>
                    <a class="button-edit-profile" style="color: #dedada;font-size: 14px"
                       href="{% url 'index' %}">Home page</a>
                </form>
            </div>

        </div>

    </main>

{% endblock %}
