{% extends 'base.html' %}
{% block content %}

    <div class="edit-delete delete-photo">

        <form method="post" action="{% url 'edit-photo' pk=pk %}" enctype="multipart/form-data">
            <h3>Edit photo</h3>

            {{ form.as_p }}
            {% csrf_token %}

        
            {% if request.user == photo.user or request.user.is_staff %}
                <button class="button-edit-profile" type="submit">Edit Photo</button>
            {% else %}
                <h5 style="color: red">You don't have permission to do this action!</h5>
            {% endif %}

            <a class="button-edit-profile" style="color: #dedada;font-size: 13px"
               href="{% url 'photo-details' pk=pk %}">Back to
                Photos</a>
        </form>
    </div>

{% endblock %}
