{% extends 'base.html' %}
{% block content %}

    <form action="{% url 'create-event' %}" method="post">
        <h3>Create Event</h3>
        {{ form }}
        {% csrf_token %}

        {% if request.user.is_staff %}
            <button class="button-edit-profile" type="submit">Create New Event</button>
        {% else %}
            <h5 style="color: red">You don't have permission to do this action!</h5>
        {% endif %}

        <a class="button-edit-profile" style="color: #dedada;font-size: 13px" href="{% url 'events-list' %}">Back to
            Events</a>
    </form>

{% endblock %}
