{% extends 'base.html' %}
{% block content %}
    <h1>Next Events:</h1>
    <hr>
    <main>

        {% if perms %}
            <a href="#">Create Event</a>
        {% endif %}
        {% if not events %}
            <h2>No events yet!</h2>
        {% else %}

            {% for event in events %}
                <div class="event-container">

                    <h3>Name: {{ event.name }}</h3>
                    <h3>Location: {{ event.location }}</h3>
                    <h3>Created Date: {{ event.created }}</h3>
                    <h3>Competition Starts: {{ event.start_date }}</h3>
                    <h3><img style="width: 850px" src="{{ event.image_url }}" alt="location img"></h3>
                    <br>
                    <h1>Rewards:</h1>
                    <h2>Winner First Place: 1000$</h2>
                    <h2>2nd Place: 500$</h2>
                    <h2>3th Place: Gift from our partners "DiveInn.com"
                        <a href="{% url 'gift-page' %}">Look it here</a>
                    </h2>
                </div>

                <div>
                    <h3>
                        Competitors:
                        {% for competitor in event.competitors.all %}
                            <ul style="list-style: none">
                                <li><a style="text-decoration: none"
                                       href="{% url 'profile details' pk=competitor.pk %}"> {{ competitor }}</a></li>
                            </ul>
                        {% endfor %}
                    </h3>
                </div>
                <hr>
            {% endfor %}

        {% endif %}
    </main>
{% endblock %}
