{% extends 'base.html' %}
{% block content %}
    <h2>Next Events:</h2>
    {% if perms %}
        <div class="event-wrapper">

            <a class="event-buttons" href="{% url 'create-event' %}">Create Event
                <i class="fa-solid fa-calendar-plus" style="color: #005dfa;"></i></a>
        </div>
    {% endif %}

    {% if not events %}
        <h2>No events yet!</h2>
    {% else %}

        {% for event in events %}
            <div class="event-container">

                <div class="event-details-wrapper">
                    <h3><img src="{{ event.image_url }}" alt="location img"></h3>
                    <div class="event-details-wrapper1">

                        <h3><span class="h3-details">Name: </span> {{ event.name }}</h3>
                        <h3><span class="h3-details">Location: </span> {{ event.location }}</h3>
                        <h3><span class="h3-details">Created Date:</span> {{ event.created }}</h3>
                        <h3><span class="h3-details">Competition Starts:</span> {{ event.start_date }}</h3>
                    </div>

                </div>

                <div class="rewards-wrapper">
                    <div>
                        <h2 class="h1-winners-pool">Winner's pool rewards:</h2>
                    </div>

                    <h2><i class="fa-solid fa-trophy"
                           style="color: #ff7300;"></i> <span class="winners-span"> Winner First Place:</span>
                        1000$</h2>
                    <h2><i class="fa-solid fa-trophy" style="color: #ff7300;"> </i><span
                            class="winners-span"> 2nd Place:</span>
                        500$</h2>
                    <h2><i class="fa-solid fa-trophy" style="color: #ff7300;"> </i>
                        <span class="winners-span">3th Place:</span>
                        Gift from
                        our partners -
                        <a class="gift-a" href="https://www.tradeinn.com/diveinn/es" target="_blank"> "DiveInn.com" </a>
                        <a class="gift-a" href="{% url 'gift-page' %}" target="_blank"> <span
                                style="color: black;font-size: 22px"> > </span>LOOK THE GIFT HERE </a>
                    </h2>
                </div>

                <div>
                    <i class="fa-solid fa-users "></i>
                    Competitors:
                    <h3 class="competitors-wrapper">
                        {% for competitor in event.competitors.all %}
                            <div class="competitors">
                                <ul style="list-style: none">
                                    <li class="competitors-li">
                                        <a style="text-decoration: none"
                                           href="{% url 'profile details' pk=competitor.pk %}">
                                            <div>{{ forloop.counter }}: {{ competitor }}</div>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        {% endfor %}

                    </h3>
                </div>

                {% if perms %}
                    <div class="event-wrapper-global">

                        <div class="event-wrapper">
                            <a class="event-buttons" href="{% url 'edit-event' pk=event.pk %}">Edit Event <i
                                    class="fa-solid fa-pen-to-square" style="color: #005eff;"></i></a>
                        </div>

                        <div class="event-wrapper">
                            <a class="event-buttons" href="{% url 'delete-event' pk=event.pk %}">Delete Event
                                <i class="fa-solid fa-trash-can" style="color: #ff0000;"></i></a>
                        </div>
                    </div>

                {% endif %}
            </div>

        {% endfor %}

    {% endif %}

{% endblock %}
